body {
    background-color: pink;
    color: black;
}

.debug {
    color: blue;
    font-family: 'Courier New', monospace;
    font-size: 12px;
}

.tablename {
    color: black;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    font-weight: bold;
}