body {
    background-color: lightsteelblue;
    color: black;
}

main {
    background-color: lightsteelblue;
    color: black;
    margin: 10px;
}

.debug {
    color: blue;
    font-family: 'Courier New', monospace;
    font-size: 12px;
    font-weight: bold;
    background-color: lightcyan;
    visibility: hidden;
}

.error {
    color: darkred;
    font-family: 'Courier New', monospace;
    font-size: 12px;
    font-weight: bold;
    background-color: lightpink;
}

.tablerow {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.table {
    width: 600px;
}
.tablerow td {
    text-align: center;
    padding: 2px; !important
}


.tablerow i {
    color: blue;
    font-size:14px;
    text-align: center;
}

.tableheader {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.table-email {
    width: 800px;
}


tr:nth-child(even) {
        background-color: LightBlue;
}
tr:nth-child(odd) {
        background-color: Lightgrey;
}